{% extends "base.html" %}
{% block content %}

         <!--
      <form action="/dataBase" method="POST">
		  <div class="form-group">
			<label for="serveroutput">Server result</label>
			<textarea class="form-control" id="serveroutput" rows="10" placeholder="Please submit an input above."  readonly \n></textarea>
          </div>
      </form>
         -->
        <table id = "serveroutput" style="border: 5px doubleblack;">
			<tr>
				{% for user, message in dataOutput %}
				<td>{{ user }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for user, message in dataOutput %}
                <td>{{ message}}</td>
				{% endfor %}
			</tr>
        </table>
		
		
		
{% endblock %}
        
    